.swap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 44px 20px;
  width: 100%;

  .swap-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 0 40px;
    max-width: 400px;
    width: 100%;

    ul {
      align-items: center;
      display: flex;
      flex-direction: row;

      li {
        button {
          &:hover, &:active {
            background: #000829;
          }

          svg {
            height: 20px;
            width: 20px;

            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  .swap-card-wrapper {
    background: linear-gradient(245.22deg,#da2eef 7.97%,#2b6aff 49.17%,#39d0d8 92.1%);
    padding: 1px;
    border-radius: 4px;
    max-width: 400px;
    width: 100%;

    .swap-card {
      align-items: center;
      background: #131a35;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      opacity: 0.9;
      padding: 32px 24px;

      .swap-card-box {
        background: #000829;
        border-radius: 4px;
        color: #85858d;
        padding: 12px 16px;
        width: 100%;

        .swap-card-box-row {
          align-items: center;
          display: flex;
          flex-direction: row;
          font-size: 0.8rem;
          justify-content: space-between;
        }

        .swap-card-box-row-2 {
          align-items: center;
          display: flex;
          flex-direction: row;
          font-size: 1rem;
          justify-content: space-between;
          margin: 10px 0 5px;

          .from-row-2-actions {
            align-items: center;
            display: flex;
            flex-direction: row;

            .max {
              color: #5ac4be;
              font-weight: 700;
              margin-right: 10px;
              letter-spacing: -0.5px;
              text-transform: uppercase;

              &:active, &:hover {
                background: #1c274f;
              }
            }

            .from-token-name {
              align-items: center;
              color: #ffffff;
              display: flex;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: -1px;

              img {
                height: 24px;
                margin-right: 5px;
                width: 24px;
              }

              .chevron {
                height: 10px;
                margin-left: 5px;
                width: 10px;

                path {
                  fill: #fff;
                }
              }
            }
          }

          .to-token-name {
            align-items: center;
            color: #ffffff;
            display: flex;
            font-weight: 700;
            letter-spacing: -0.5px;

            .chevron {
              height: 10px;
              margin-left: 5px;
              width: 10px;

              path {
                fill: #fff;
              }
            }
          }
        }
      }

      .swap-switch {
        background: #000829;
        border-radius: 15px;
        height: 30px;
        margin: 12px 0;
        padding: 8px;
        width: 30px;

        svg {
          transform: rotate(90deg);

          path {
            fill: #fff;
          }
        }
      }

      .swap-card-meta {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 15px 16px 20px;
        width: 100%;

        li {
          align-items: center;
          color: #ffffff;
          display: flex;
          flex-direction: row;
          font-size: 0.8rem;
          justify-content: space-between;
          width: 100%;
        }
      }

      .submit {
        border: 1px solid #5ac4be;
        font-size: 1rem;
        height: 40px;
        padding: 0 15px;
        width: 100%;
      }
    }
  }
}
