.modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  .modal-mask {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .modal-content {
    background-color: #1c274f;
    border-radius: 4px;
    box-shadow: 0 4px 12px #00000026;
    max-height: 80%;
    max-width: 520px;
    overflow: auto;
    position: relative;
    width: 100%;

    .modal-header {
      align-items: center;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      display: flex;
      font-weight: bold;
      justify-content: space-between;
      padding: 20px;
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      padding: 20px;

      .modal-button {
        align-items: center;
        border-radius: 4px;
        border: 1px solid #5ac4be;
        box-shadow: 0 2px 0 #00000004;
        color: #ffffff;
        display: flex;
        height: 48px;
        justify-content: space-between;
        padding: 0 30px;
        text-align: left;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        width: 100%;

        &:hover {
          border-color: #82d1ca;
          color: #82d1ca;
        }

        img {
          border-radius: 50%;
          height: 32px;
          width: 32px;
        }
      }
    }
  }
}
