footer {
  align-items: center;
  background: #131a35;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 85px;
  width: 100%;

  .footer-border-top {
    background: linear-gradient(90deg, rgba(90, 196, 190, 0) 0%, rgb(55, 114, 255) 50%, rgba(194, 0, 251, 0) 100%);
    height: 1px;
    position: absolute;
    top: -1px;
    width: 100%;
    left: 0;
  }
}
