.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
  }
}
