@font-face {
  font-family: "NotoSans";
  font-weight: 400;
  src: url("./assets/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 700;
  src: url("./assets/fonts/NotoSans-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("./assets/fonts/Montserrat-Light.ttf");
}

html {
  --antd-wave-shadow-color: #5ac4be;
  font-size: 14px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #131a35;
  color: #f1f1f2;
  display: flex;
  flex-direction: column;
  font-family: "NotoSans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}

a {
  color: #5ac4be;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

button {
  background: transparent;
  border-radius: 4px;
  border: 1px solid #5ac4be;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .02);
  color: #ffffff;
  cursor: pointer;
  height: 32px;
  letter-spacing: 1px;
  padding: 0 15px;
  text-align: center;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  white-space: nowrap;

  &:active {
    color: #419e9d;
    outline: 0;
    box-shadow: none;
  }

  &:hover {
    text-decoration: none;
  }
}


