@font-face {
  font-family: "NotoSans";
  font-weight: 400;
  src: url("./assets/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 700;
  src: url("./assets/fonts/NotoSans-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("./assets/fonts/Montserrat-Light.ttf");
}

html {
  --antd-wave-shadow-color: #5ac4be;
  font-size: 14px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #131a35;
  color: rgba(241,241,242,.5);
  display: flex;
  flex-direction: column;
  font-family: "NotoSans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: 2px solid #419e9d;
  }
}

a {
  color: #5ac4be;
  padding: 5px;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.7rem;
}

button {
  align-items: center;
  background: transparent;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .02);
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  padding: 7px;
  text-align: center;
  transition: background .3s cubic-bezier(.645,.045,.355,1), border .3s cubic-bezier(.645,.045,.355,1), box-shadow .3s cubic-bezier(.645,.045,.355,1), color .3s cubic-bezier(.645,.045,.355,1);
  white-space: nowrap;

  &:active, &:focus {
    box-shadow: none;
  }

  &:hover {
    text-decoration: none;
  }
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

